.l-header {
  height: 150px;
  background-image: url('./images/polka-dots.png');

  &__logo {
    padding: 10px;
    width: 200px;
    height: 150px;
    box-sizing: border-box;
  }

  &__sidebar {
    display: inline-block;
  }
}
