.l-score {
  display: inline-block;
  vertical-align: top;
  width: calc(100vw - (200px + 150px));
  margin: 0 auto;
  color: #00D382;
  text-shadow: 2px 2px 0 #FFF;
  text-align: center;
  font-weight: bold;
  line-height: 150px;
}
