.sidebar {
  &__menu {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100vw;
    z-index: 2;

    &__in {
      display: inline-block;
      width: 80vw;
      height: calc(100vh - 150px);

      border-right: 1px solid #000;
      background-color: #F4F5F7;

      &__header {
        border-bottom: 1px solid #000;
        height: 150px;
        padding-left: 15px;
        line-height: 125px;
      }

      &__contents {
        font-size: 1rem;

        li {
          padding: 12px 0;

          span {
            padding: 0 10px;
          }

          a {
            display: inline;
            color: #333;
          }
        }
      }
    }

    &__out {
      position: absolute;
      top: 0;
      display: inline-block;
      width: calc(20vw - 1px);
      height: calc(100vh - 150px);
    }
  }
}
