.p-content {
  &__out {
    position: relative;
    bottom: 800px;
    right: 420px;
    height: calc(100vh - (150px + 100px));
    width: 100vw;
  }

  &__in {
    margin: auto;
    margin-top: 10vh;
    width: 70vw;
    height: 60vh;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #EEE;

    &__images {
      border: 2px solid #222;

      &__img {
        width: 150px;
        height: 150px;
        border: 3px solid #333;
        border-radius: 10px;
      }
    }

    &__info {
      text-align: left;
    }
  }
}
