.p-ranking {
  display: flex;
  height: calc(100vh - (150px + 200px));
  font-size: 0.8em;

  &__img {
    width: 150px;
    height: 150px;
  }

  &__gather {
    margin-right: 20px;
  }

  &__footer {
    &__button {
      position: absolute;
      bottom: 0;
    }
    
  }
}
