.p-sidebar {
  position: absolute;
  left: 0;
  padding: 0 10px;

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;

    &__in {
      display: inline-block;
      width: 50vw;
      height: calc(100vh - 150px);

      border-right: 1px solid #000;
      background-color: #FFF;

      &__header {
        border-bottom: 1px solid #000;
      }
    }

    &__out {
      position: absolute;
      top: 0;
      display: inline-block;
      width: calc(50vw - 1px);
      height: calc(100vh - 150px);
    }
  }
}
