.content {
  &__in {
    margin: auto;
    margin-top: 10vh;
    width: 70vw;
    height: 60vh;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #FEFEFE;

    &__info {
      padding: 10px 5px;

      &__caption {
        font-size: 3.5em;
      }

      &__username {
        font-size: 2.8em;
        color: #666;
      }
    }
  }

  &__out {
    position: relative;
    bottom: 800px;
    right: 420px;
    z-index: 2;
    height: calc(100vh - (150px + 100px));
    width: 100vw;
  }
}
