.content {
  &__in {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 70vw;
    height: 60vh;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #FEFEFE;
    z-index: 2;

    &__info {
      padding: 10px 5px;

      &__caption {
        font-size: 3.5em;
      }

      &__username {
        font-size: 2.8em;
        color: #666;
      }
    }
  }
}
