.content {
  display: inline-block;
  position: relative;
  bottom: 20vh;
  right: 15vh;
  margin: auto;
  width: 70vw;
  height: 60vh;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #FEFEFE;
  z-index: 2;

  &__info {
    padding: 10px 5px;

    &__caption {
      font-size: 3.5em;
    }

    &__username {
      font-size: 2.8em;
      color: #666;
    }
  }

  &__link {
    font-size: 2.8em;
    position: absolute;
    bottom: 10px;
    right: 5px;;
  }
}
