$main_color: #00FFFF;
$header_height: 80px;
$footer_height: 150px;
// fonts
$baseFont: "Helvetica Neue",
"Noto Sans JP",
Avenir,
"Open Sans",
Helvetica,
Arial,
Verdana,
Roboto,
"游ゴシック",
"Yu Gothic",
"游ゴシック体",
"YuGothic",
"ヒラギノ角ゴ Pro W3",
"Hiragino Kaku Gothic Pro",
"Meiryo UI",
"メイリオ",
Meiryo,
"ＭＳ Ｐゴシック",
"MS PGothic",
sans-serif;
//animation
$ease-out-quad:cubic-bezier(0.25, 0.46, 0.45, 0.94);